extends base


block content
 p Hi ,
  
 p Congratulations! Your email address has been successfully verified. We’re thrilled to have you with us.
  
 p If you need any assistance or have any questions, please don’t hesitate to reach out to our support team. We’re here to help!
  
 table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
  tbody
   tr
    td(align='left')
     table(role='presentation', border='0', cellpadding='0', cellspacing='0')
      tbody
       tr
        td
         a(href=` `, target='_blank') Contact Support
  
 p Thank you for verifying your email. We look forward to providing you with excellent service.
  
 p Best regards,  
 p The Natours Team
